# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production

# Build do frontend
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cache do Vite
.vite/